
    
    body{background-color:#F9F5E7 ;
        
        }
    h1{color: #A7727D;}
    h3{color: #A7727D; font-size: 24px;}

    hr{
        border-style:  none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 8px;
        width: 10%;

    }
    

